body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(BackgroundPic.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container1 {
    position: relative; /* Changed from fixed to relative */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 100vh;
    width: 20vw;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling within the container */
}

.menu {
    margin-top: 50px;
    margin-bottom: 250px;
    margin-left: 50px;
}

.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.no-bullets li a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    flex: 1;
}

.no-bullets li:hover {
    background: linear-gradient(to right, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.3));
    backdrop-filter: blur(10px);
}

.no-bullets li i {
    margin-right: 10px;
}

.no-bullets li:last-child {
    margin-top: auto;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .container1 {
        width: 30vw;
    }

    .menu {
        margin-left: 20px;
    }

    .no-bullets li {
        height: auto;
        padding: 15px;
        margin-bottom: 10px;
    }

    .no-bullets li a {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container1 {
        width: 80vw;
        height: auto; /* Adjust height to content */
        max-height: 100vh; /* Ensure container does not exceed viewport height */
    }

    .menu {
        margin-left: 10px;
    }

    .no-bullets li {
        flex-direction: column;
        padding: 20px;
    }

    .no-bullets li a {
        margin-left: 0;
        margin-top: 10px;
        font-size: 12px;
    }
}
